.cabecalho {
    border: 1px solid black;
    text-align: center;
    background-color: rgba(55, 241, 117, 0.658);
    max-width: 100%;
    padding: auto;
    color: rgb(214, 67, 30);
    text-align: center;
}

.menu {
    border: black solid 1px;
    background-color: aqua;
}

.corpo {
    border: black 1px solid;
}

.rodape {
    border: black 1px solid;
}

#navbarNav {
    display: flex !important;
    justify-content: center !important;
    color: aquamarine;
}

.nav-item {
    border: rgba(92, 89, 89, 0.534) 1px solid;
    margin-top: -10px;
    margin-bottom: -10px;
    color: aquamarine;
}

body {
    background-color: rgba(151, 146, 146, 0.356);
}