.icone {
    border: azure;
}

.topo {
    background-color: rgb(39, 43, 40);
    margin-bottom: auto;
}

.topo .cabecalho {
    text-align: center;
    max-width: 100%;
    color: rgb(214, 67, 30);
    text-align: center;
}

.jumbotron {
    background: linear-gradient(50deg, #ff4169, #7c26f8);
    margin-bottom: auto;
    max-height: 10%;
}

.corpo .container .conteudo {
    background-color: rgba(253, 143, 0, 0.39);
    max-block-size: 100%;
    min-height: 81.7vh;
    display: block;
    padding: 0 10px 0 10px;
    margin: 50px 30px 50px 30px;
}

.menu {
    background-color: black;
}

.rodape {
    position: fixed;
    bottom: 0%;
    width: 100%;
    font-size: 12 px;
}

.corpo {
    padding-top: 50px;
    background-image: url("../imagens/fundo_home.png");
    display: flex;
    background-size: cover
}

#navbarNav {
    display: flex !important;
    justify-content: center !important;
    color: rgb(0, 0, 0);
}

.nav-item {
    margin-top: 10px;
    margin-bottom: 10px;
}

body {
    width: 100%;
    /*background: url(../imagens/fundo_home.png);
    background-attachment: fixed;
    */
}