.topo {
    background-color: rgb(39, 43, 40);
    margin-bottom: auto;
}

.jumbotron {
    background-image: linear-gradient( 180.4deg, rgba(9, 30, 61, 1) 45.3%, rgba(95, 123, 190, 1) 279%);
    margin-bottom: -75px;
    margin-top: -75px;
    max-height: 10%;
}

.corpo .container .conteudo {
    background-image: linear-gradient( 180.4deg, rgba(9, 30, 61, 1) 45.3%, rgba(95, 123, 190, 1) 279%);
    max-block-size: 100%;
    min-height: 81.7vh;
    display: block;
    padding: 0 10px 0 10px;
    margin: 50px 30px 50px 30px;
    color: rgb(170, 170, 170);
    text-align: center;
}

.rodape {
    position: fixed;
    bottom: 0%;
    width: 100%;
    font-size: 12 px;
}

.corpo {
    padding-top: 50px;
    background-image: url("../imagens/fundo_home.png");
    display: flex;
    background-size: cover
}

.nav-item {
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: large;
    font-style: italic;
    color: white;
}

body {
    width: 100%;
    /*background: url(../imagens/fundo_home.png);
    background-attachment: fixed;
    */
}